@media (max-width: 1000px) {
  .separator-container {
    margin: 14px 20px 0px 20px;
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
    height: 60vh;
    position: relative;
    display: flex;
    flex-direction: column !important;
    justify-content: space-evenly;
    align-items: top;
  }

  .separator .context {
    width: 100% !important;
    height: 100%;
    padding-top: 2%;
    position: absolute;
    top: 0;
    left: 0;
  }

  .separator .spacer-img {
    width: 100% !important;
    height: 100%;
    padding-top: 2%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    display: flex;
    flex-direction: column !important;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .separator .separator-container img {
    height: 70%;
    padding-right: 0%;
    z-index: -1;
  }

  /*––––––––––––––––––––––––––––––––––––––––––––––––––––*/
  .sketchbook {
    margin: 14px 20px 0px 20px;
    width: calc(100% - 40px);
    max-width: calc(100% - 40px);
    height: 100vh;
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 2px solid black;
  }
  .sketchbook-container {
    height: 77vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 16px;
    margin-bottom: 20px;
  }

  .sketchbook-heading {
    height: 10%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 24px;
  }

  .sketchbook-heading p {
    margin-top: 80px;
    margin-left: 45%;
  }

  .sketchbook-canvas-area {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 8px;
    position: static;
  }

  .sketchbook-canvas {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  #skt-canvas {
    z-index: 1;
    background: url(https://cdn.jsdelivr.net/gh/daveee00/drawings/paper-texture.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1) !important;
  }

  #skt-canvas img {
    mix-blend-mode: multiply;
  }

  #list-canvas {
    width: 100%;
    height: 40%;
    display: block;
    overflow: scroll;
  }

  #list-canvas button {
    width: 100%;
    height: 56px;
    background: rgba(0, 0, 0, 10%);
    opacity: calc(40%);
    border: none;
    border-radius: 16px;
    margin-bottom: 8px;
    opacity: calc(40%);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  #list-canvas .list-element p {
    color: black;
    margin-left: 40px;
    font-family: monospace !important;
    font-weight: 700;
    font-size: 1em;
    letter-spacing: 4%;
  }
  #list-canvas .list-artist {
    font-family: "Humane";
    opacity: calc(50%);
    margin-left: 12px !important;
  }

  #list-canvas .list-element:hover {
    cursor: pointer;
    opacity: calc(100%);
  }

  #list-canvas .list-element:hover .list-artist {
    opacity: calc(50%);
  }

  #list-canvas .list-element-after {
    cursor: pointer;
    opacity: calc(100%);
  }

  #list-canvas .list-artist-after {
    opacity: calc(50%);
  }

  #list-canvas .button-after {
    width: 100%;
    height: 56px;
    background: rgba(16, 52, 131, 0.1);
    border: none;
    border-radius: 16px;
    margin-bottom: 8px;
    opacity: calc(100%);
    display: flex;
    align-items: center;
  }

  /*–––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––––*/

  #scroll-indicator {
    display: none;
  }

}
