@media (max-width: 768px){
  footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 4px;
}

footer p {
  font-size: 12px;
font-weight: 500;
text-align: left;
margin-left: 20px;
}

footer img {
  height: 30px;
  margin-right: 20px;
}
}

/* Landscape mode for tablets */
@media (max-width: 768px) and (orientation: landscape) {
  footer {
    padding-top: 8px;
  }

  footer p {
    font-size: 14px;
  }

  footer img {
    height: 35px;
  }
}
